.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  min-height: 100%;
  max-width: 680px;
  overflow: hidden;
  color: #fff;
}


.title {
  margin-top: 20px;
  font-size: 80px;
  text-align: center;
}

.content {
  position: relative;
  z-index: 9999;
  font-size: 40px;
  text-align: center;
}

.videoBox {
  z-index: 999;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.video {
  z-index: 999;
  max-width: 400px;
  width: 100%;
}

.imgBox {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.isPc {
  z-index: 999;
  display: flex;
  flex-direction: row;
}

.imgTag {
  padding: 10px;
  width: 100%;
}

.isMobile {
  z-index: 999;
  display: none;
}

.imgComponent {
  z-index: 999;
  padding: 10px;
}

.mobildeImgBox {
  z-index: 999;
  display: flex;
  width: 100%;
}

.snow {
  width: 10px;
  height: 10px;
  opacity: 0;
  background: #fff;
  border-radius: 50%;
  animation:  snow 10s linear infinite;
}

.snow:nth-of-type(2n) {
  width: 7px;
  height: 7px;
  animation-duration: 8s;
  animation-delay: 2s;
}
.snow:nth-of-type(2n+1) {
  animation-duration: 7s;
  animation-delay: 1s;
}
.snow:nth-of-type(9n) {
  animation-duration: 9s;
  animation-delay: 3s;
}

.snowBack {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 680px;
  overflow: hidden;
  margin-left: -2rem;
  z-index: 0;

}

@keyframes snow {

  0% {
    opacity: 0;
    transform :translateY(0);
  }

  20% {
    opacity: 1;
    transform :translate(-15px, 20vh);
  }

  40% {
    opacity: 1;
    transform :translate(15px, 40vh);
  }

  60% {
    opacity: 1;
    transform :translate(-15px, 60vh);
  }

  80% {
    opacity: 1;
    transform :translate(0, 80vh);
  }

  100% {
    opacity: 1;
    transform :translateY(100vh);
  }
}



/* Mobile */
@media (max-width: 700px) {
  .title {
    font-size: 50px;
  }
  .content {
    word-break: keep-all;
    font-size: 28px;
  }

  .isPc {
    display: none;
  }

  .isMobile {
    display: flex;
  }
}
